#mobile-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

#mobile-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    /* use viewport units */
    height: 10vh;
    /* use viewport units */
    display: flex;
    justify-content: space-around;
    /* evenly space the buttons */
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
}

#mobile-buttons button {
    width: 15vw;
    /* use viewport units */
    height: 7vh;
    /* use viewport units */
    opacity: 0.5;
    border: none;
    font-size: 4vh;
    /* use viewport units */
}